[
  {
    "key": "ctrl+a ctrl+5",
    "command": "workbench.action.splitEditor"
  },
  {
    "key": "ctrl+a o",
    "command": "workbench.action.navigateEditorGroups"
  },
  {
    "key": "ctrl+a ctrl+'",
    "command": "workbench.action.splitEditorDown"
  },
  {
    "key": "ctrl+a k",
    "command": "workbench.action.focusAboveGroup"
  },
  {
    "key": "ctrl+a j",
    "command": "workbench.action.focusBelowGroup"
  },
  {
    "key": "ctrl+a l",
    "command": "workbench.action.focusRightGroup"
  },
  {
    "key": "ctrl+a h",
    "command": "workbench.action.focusLeftGroup"
  },
  {
    "key": "ctrl+a ctrl+l",
    "command": "workbench.action.moveEditorToRightGroup"
  },
  {
    "key": "ctrl+a ctrl+h",
    "command": "workbench.action.moveEditorToLeftGroup"
  },
  {
    "key": "ctrl+a z",
    "command": "workbench.action.toggleEditorWidths"
  },
  {
    "key": "ctrl+shift+w",
    "command": "workbench.action.quickSwitchWindow"
  },
  {
    "key": "cmd+r",
    "command": "workbench.action.openRecent"
  },
  // New additions
  {
    "key": "ctrl+a ctrl+j",
    "command": "workbench.action.moveEditorToBelowGroup"
  },
  {
    "key": "ctrl+a ctrl+k",
    "command": "workbench.action.moveEditorToAboveGroup"
  },
  {
    "key": "ctrl+a x",
    "command": "workbench.action.closeActiveEditor"
  }
]